extends layout

block vars
  - var title= plugin.name

block content
  div.fright
    a.pure-button-primary.pure-button(href='#{plugin.versions[plugin["dist-tags"].latest].dist.tarball}') Download
    a.button-secondary.pure-button(href='https://www.npmjs.com/package/#{plugin.name}') npmjs
  h1 #{plugin.name}
  p #{plugin.description}

  each keyword in plugin.keywords
    span.post-category.post-category-pure #{keyword}

  div!= md(plugin.readme)
